# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# cython generated cpp
mmdet/ops/nms/src/soft_nms_cpu.cpp
mmdet/version.py
*.so

# data
data

# vscode
.vscode

# imgs
demo/car-roundabout/
demo/*.out
demo/README.md
demo/compute_gen_acc.py
demo/visualize_gen_polar.py
demo/new_compute_gen_acc.py
demo/new_visualize_gen_polar.py
imgs/polar_vis/

# custom
*.pkl
*.pkl.json
*.log.json
work_dirs/
trash/
*.out

# Pytorch
*.pth

# temp output
*.out