torch==1.4.0
torchvision==0.5.0
mmcv==0.4.3
cython
decorator
ipykernel>=4.4
ipython>=4
ipython-genutils
jupyter-client
pyzmq>=13
tornado>=4
numpy
traitlets>=4.3
imageio
opencv-python
scikit-image>=0.11.0
scipy
imagecorruptions
Polygon3
tqdm